## Reading of CSV files and Manipulation of Data

Link for the dataset: [Click Here](https://www.kaggle.com/pavansubhasht/ibm-hr-analytics-attrition-dataset)

In [ ]:
import pandas as pd

attrition_dataset = pd.read_csv('/content/WA_Fn-UseC_-HR-Employee-Attrition.csv')

In [ ]:
attrition_dataset

,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeNumber,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,41,Yes,Travel_Rarely,1102,Sales,1,2,Life Sciences,1,1,...,1,80,0,8,0,1,6,4,0,5
1,49,No,Travel_Frequently,279,Research & Development,8,1,Life Sciences,1,2,...,4,80,1,10,3,3,10,7,1,7
2,37,Yes,Travel_Rarely,1373,Research & Development,2,2,Other,1,4,...,2,80,0,7,3,3,0,0,0,0
3,33,No,Travel_Frequently,1392,Research & Development,3,4,Life Sciences,1,5,...,3,80,0,8,3,3,8,7,3,0
4,27,No,Travel_Rarely,591,Research & Development,2,1,Medical,1,7,...,4,80,1,6,3,3,2,2,2,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1465,36,No,Travel_Frequently,884,Research & Development,23,2,Medical,1,2061,...,3,80,1,17,3,3,5,2,0,3
1466,39,No,Travel_Rarely,613,Research & Development,6,1,Medical,1,2062,...,1,80,1,9,5,3,7,7,1,7
1467,27,No,Travel_Rarely,155,Research & Development,4,3,Life Sciences,1,2064,...,2,80,1,6,0,3,6,2,0,3
1468,49,No,Travel_Frequently,1023,Sales,2,3,Medical,1,2065,...,4,80,0,17,3,2,9,6,0,8
1469,34,No,Travel_Rarely,628,Research & Development,8,3,Medical,1,2068,...,1,80,0,6,3,4,4,3,1,2

In [ ]:
attrition_dataset.head(10)

,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeNumber,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,41,Yes,Travel_Rarely,1102,Sales,1,2,Life Sciences,1,1,...,1,80,0,8,0,1,6,4,0,5
1,49,No,Travel_Frequently,279,Research & Development,8,1,Life Sciences,1,2,...,4,80,1,10,3,3,10,7,1,7
2,37,Yes,Travel_Rarely,1373,Research & Development,2,2,Other,1,4,...,2,80,0,7,3,3,0,0,0,0
3,33,No,Travel_Frequently,1392,Research & Development,3,4,Life Sciences,1,5,...,3,80,0,8,3,3,8,7,3,0
4,27,No,Travel_Rarely,591,Research & Development,2,1,Medical,1,7,...,4,80,1,6,3,3,2,2,2,2
5,32,No,Travel_Frequently,1005,Research & Development,2,2,Life Sciences,1,8,...,3,80,0,8,2,2,7,7,3,6
6,59,No,Travel_Rarely,1324,Research & Development,3,3,Medical,1,10,...,1,80,3,12,3,2,1,0,0,0
7,30,No,Travel_Rarely,1358,Research & Development,24,1,Life Sciences,1,11,...,2,80,1,1,2,3,1,0,0,0
8,38,No,Travel_Frequently,216,Research & Development,23,3,Life Sciences,1,12,...,2,80,0,10,2,3,9,7,1,8
9,36,No,Travel_Rarely,1299,Research & Development,27,3,Medical,1,13,...,2,80,2,17,3,2,7,7,7,7

In [ ]:
attrition_dataset.tail(8)

,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeNumber,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
1462,39,No,Travel_Rarely,722,Sales,24,1,Marketing,1,2056,...,1,80,1,21,2,2,20,9,9,6
1463,31,No,Non-Travel,325,Research & Development,5,3,Medical,1,2057,...,2,80,0,10,2,3,9,4,1,7
1464,26,No,Travel_Rarely,1167,Sales,5,3,Other,1,2060,...,4,80,0,5,2,3,4,2,0,0
1465,36,No,Travel_Frequently,884,Research & Development,23,2,Medical,1,2061,...,3,80,1,17,3,3,5,2,0,3
1466,39,No,Travel_Rarely,613,Research & Development,6,1,Medical,1,2062,...,1,80,1,9,5,3,7,7,1,7
1467,27,No,Travel_Rarely,155,Research & Development,4,3,Life Sciences,1,2064,...,2,80,1,6,0,3,6,2,0,3
1468,49,No,Travel_Frequently,1023,Sales,2,3,Medical,1,2065,...,4,80,0,17,3,2,9,6,0,8
1469,34,No,Travel_Rarely,628,Research & Development,8,3,Medical,1,2068,...,1,80,0,6,3,4,4,3,1,2

***read_csv*** is a function in pandas which helps to convert csv format files into dataframe. There are other function present in pandas to read different types of files as well

In [ ]:
# this line of code gives shape of the dataset
attrition_dataset.shape

(1470, 35)

Shape of the dataset gives us a tuple which specifies the number of rows and columns present in the dataset. In the above dataset, there are 1470 rows and 35 columns

In [ ]:
print(attrition_dataset)

      Age Attrition     BusinessTravel  DailyRate              Department  \
0      41       Yes      Travel_Rarely       1102                   Sales
1      49        No  Travel_Frequently        279  Research & Development
2      37       Yes      Travel_Rarely       1373  Research & Development
3      33        No  Travel_Frequently       1392  Research & Development
4      27        No      Travel_Rarely        591  Research & Development
...   ...       ...                ...        ...                     ...
1465   36        No  Travel_Frequently        884  Research & Development
1466   39        No      Travel_Rarely        613  Research & Development
1467   27        No      Travel_Rarely        155  Research & Development
1468   49        No  Travel_Frequently       1023                   Sales
1469   34        No      Travel_Rarely        628  Research & Development

      DistanceFromHome  Education EducationField  EmployeeCount  \
0                    1          2  Life Sciences              1
1                    8          1  Life Sciences              1
2                    2          2          Other              1
3                    3          4  Life Sciences              1
4                    2          1        Medical              1
...                ...        ...            ...            ...
1465                23          2        Medical              1
1466                 6          1        Medical              1
1467                 4          3  Life Sciences              1
1468                 2          3        Medical              1
1469                 8          3        Medical              1

      EmployeeNumber  ...  RelationshipSatisfaction StandardHours  \
0                  1  ...                         1            80
1                  2  ...                         4            80
2                  4  ...                         2            80
3                  5  ...                         3            80
4                  7  ...                         4            80
...              ...  ...                       ...           ...
1465            2061  ...                         3            80
1466            2062  ...                         1            80
1467            2064  ...                         2            80
1468            2065  ...                         4            80
1469            2068  ...                         1            80

      StockOptionLevel  TotalWorkingYears  TrainingTimesLastYear  \
0                    0                  8                      0
1                    1                 10                      3
2                    0                  7                      3
3                    0                  8                      3
4                    1                  6                      3
...                ...                ...                    ...
1465                 1                 17                      3
1466                 1                  9                      5
1467                 1                  6                      0
1468                 0                 17                      3
1469                 0                  6                      3

     WorkLifeBalance  YearsAtCompany YearsInCurrentRole  \
0                  1               6                  4
1                  3              10                  7
2                  3               0                  0
3                  3               8                  7
4                  3               2                  2
...              ...             ...                ...
1465               3               5                  2
1466               3               7                  7
1467               3               6                  2
1468               2               9                  6
1469               4               4                  3

      YearsSinceLastPromotion  YearsWithCurrManager
0                           0                     5
1                           1                     7
2                           0                     0
3                           3                     0
4                           2                     2
...                       ...                   ...
1465                        0                     3
1466                        1                     7
1467                        0                     3
1468                        0                     8
1469                        1                     2

[1470 rows x 35 columns]

head() automatically gives us five rows present at the top of the table. If we want more number of rows we can specify the number within the brackets.

In [ ]:
initial_10 = attrition_dataset.head(10)
initial_10

,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeNumber,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,41,Yes,Travel_Rarely,1102,Sales,1,2,Life Sciences,1,1,...,1,80,0,8,0,1,6,4,0,5
1,49,No,Travel_Frequently,279,Research & Development,8,1,Life Sciences,1,2,...,4,80,1,10,3,3,10,7,1,7
2,37,Yes,Travel_Rarely,1373,Research & Development,2,2,Other,1,4,...,2,80,0,7,3,3,0,0,0,0
3,33,No,Travel_Frequently,1392,Research & Development,3,4,Life Sciences,1,5,...,3,80,0,8,3,3,8,7,3,0
4,27,No,Travel_Rarely,591,Research & Development,2,1,Medical,1,7,...,4,80,1,6,3,3,2,2,2,2
5,32,No,Travel_Frequently,1005,Research & Development,2,2,Life Sciences,1,8,...,3,80,0,8,2,2,7,7,3,6
6,59,No,Travel_Rarely,1324,Research & Development,3,3,Medical,1,10,...,1,80,3,12,3,2,1,0,0,0
7,30,No,Travel_Rarely,1358,Research & Development,24,1,Life Sciences,1,11,...,2,80,1,1,2,3,1,0,0,0
8,38,No,Travel_Frequently,216,Research & Development,23,3,Life Sciences,1,12,...,2,80,0,10,2,3,9,7,1,8
9,36,No,Travel_Rarely,1299,Research & Development,27,3,Medical,1,13,...,2,80,2,17,3,2,7,7,7,7

In [ ]:
initial_10.shape

(10, 35)

In [ ]:
attrition_dataset.head(10)

,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeNumber,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,41,Yes,Travel_Rarely,1102,Sales,1,2,Life Sciences,1,1,...,1,80,0,8,0,1,6,4,0,5
1,49,No,Travel_Frequently,279,Research & Development,8,1,Life Sciences,1,2,...,4,80,1,10,3,3,10,7,1,7
2,37,Yes,Travel_Rarely,1373,Research & Development,2,2,Other,1,4,...,2,80,0,7,3,3,0,0,0,0
3,33,No,Travel_Frequently,1392,Research & Development,3,4,Life Sciences,1,5,...,3,80,0,8,3,3,8,7,3,0
4,27,No,Travel_Rarely,591,Research & Development,2,1,Medical,1,7,...,4,80,1,6,3,3,2,2,2,2
5,32,No,Travel_Frequently,1005,Research & Development,2,2,Life Sciences,1,8,...,3,80,0,8,2,2,7,7,3,6
6,59,No,Travel_Rarely,1324,Research & Development,3,3,Medical,1,10,...,1,80,3,12,3,2,1,0,0,0
7,30,No,Travel_Rarely,1358,Research & Development,24,1,Life Sciences,1,11,...,2,80,1,1,2,3,1,0,0,0
8,38,No,Travel_Frequently,216,Research & Development,23,3,Life Sciences,1,12,...,2,80,0,10,2,3,9,7,1,8
9,36,No,Travel_Rarely,1299,Research & Development,27,3,Medical,1,13,...,2,80,2,17,3,2,7,7,7,7

Similarly we have a tail() function as well which gives us the last five rows of the dataframe by default. If you want more values you can specify the number within the brackets

In [ ]:
attrition_dataset.tail(20)

      Age Attrition  ... YearsSinceLastPromotion  YearsWithCurrManager
1450   35        No  ...                       1                     7
1451   38        No  ...                       1                     9
1452   50       Yes  ...                       0                     1
1453   36        No  ...                       0                     0
1454   45        No  ...                       0                     1
1455   40        No  ...                       2                     2
1456   35        No  ...                       0                     2
1457   40        No  ...                       0                     2
1458   35        No  ...                       1                     1
1459   29        No  ...                       0                     3
1460   29        No  ...                       0                     4
1461   50       Yes  ...                       2                     0
1462   39        No  ...                       9                     6
1463   31        No  ...                       1                     7
1464   26        No  ...                       0                     0
1465   36        No  ...                       0                     3
1466   39        No  ...                       1                     7
1467   27        No  ...                       0                     3
1468   49        No  ...                       0                     8
1469   34        No  ...                       1                     2

[20 rows x 35 columns]

## 1. Extracting rows and columns

Q1. Extract the attrition column from the dataset and set it to the variable ***response***

In [ ]:
# Method 1
pd.set_option('display.max_rows', None)

response = attrition_dataset.Attrition

response

In [ ]:
# Method 2
response = attrition_dataset['Attrition']
response

0       Yes
1        No
2       Yes
3        No
4        No
       ...
1465     No
1466     No
1467     No
1468     No
1469     No
Name: Attrition, Length: 1470, dtype: object

Q2. Store the 10th value of Age in age varaible

In [ ]:
# This will give you the 10th value in the dataframe 
age = attrition_dataset['Age'].iloc[9]
age

36

In [ ]:
attrition_dataset.iloc[1466]

Age                                                39
Attrition                                          No
BusinessTravel                          Travel_Rarely
DailyRate                                         613
Department                     Research & Development
DistanceFromHome                                    6
Education                                           1
EducationField                                Medical
EmployeeCount                                       1
EmployeeNumber                                   2062
EnvironmentSatisfaction                             4
Gender                                           Male
HourlyRate                                         42
JobInvolvement                                      2
JobLevel                                            3
JobRole                     Healthcare Representative
JobSatisfaction                                     1
MaritalStatus                                 Married
MonthlyIncome                                    9991
MonthlyRate                                     21457
NumCompaniesWorked                                  4
Over18                                              Y
OverTime                                           No
PercentSalaryHike                                  15
PerformanceRating                                   3
RelationshipSatisfaction                            1
StandardHours                                      80
StockOptionLevel                                    1
TotalWorkingYears                                   9
TrainingTimesLastYear                               5
WorkLifeBalance                                     3
YearsAtCompany                                      7
YearsInCurrentRole                                  7
YearsSinceLastPromotion                             1
YearsWithCurrManager                                7
Name: 1466, dtype: object

Q3. Store first ten values of column Age in **age_list**

In [ ]:
# If you want a range of values you can specify the limit within the iloc brackets. The value before the icon is the
# starting point and the value after the colon is ending point. The ending value is not included. So it will return us 
# elements from index 0 to 9.

age_list = attrition_dataset['Age'].iloc[0:10].values
age_list

array([41, 49, 37, 33, 27, 32, 59, 30, 38, 36])

Q3. Extract first ten rows and two columns, 'Age' and 'Attrition'.

In [ ]:
# iloc[rows_range,column_range]
attrition_dataset.iloc[0:10,0:2].values

array([[41, 'Yes'],
       [49, 'No'],
       [37, 'Yes'],
       [33, 'No'],
       [27, 'No'],
       [32, 'No'],
       [59, 'No'],
       [30, 'No'],
       [38, 'No'],
       [36, 'No']], dtype=object)

Q4. Suppose we want two columns 'Gender' and 'Attrition'. Since they do not lie simultaneously, we will be using loc instead of iloc. iloc takes indexes to give you the results but loc uses labels and hence it is quite useful when you want to extract rows or columns that do not lie together

In [ ]:
columns = ['Gender', 'Attrition']
gender_attrition = attrition_dataset.loc[:10,columns]
gender_attrition

    Gender Attrition
0   Female       Yes
1     Male        No
2     Male       Yes
3   Female        No
4     Male        No
5     Male        No
6   Female        No
7     Male        No
8     Male        No
9     Male        No
10    Male        No

Now if i want data at indexes 1, 148 and 1000, I will do the following

In [ ]:
indices = [1, 148, 1000]
gender_attrition_specefic = gender_attrition.loc[indices,:]
gender_attrition_specefic

      Gender Attrition
1       Male        No
148     Male        No
1000  Female        No

In [ ]:
# You can also combine the two processes above.

indices = [1, 148, 1000]
columns = ['Gender', 'Attrition']
gender_attrition = gender_attrition.loc[indices,columns]
gender_attrition

      Gender Attrition
1       Male        No
148     Male        No
1000  Female        No

## Extracting rows based on conditions

Q5. Extract rows such that the dataframe **males_only** consists only rows with Gender value as Male

In [ ]:
males_only = attrition_dataset[attrition_dataset['Gender'] == 'Male']
males_only.head()

,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeNumber,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
1,49,No,Travel_Frequently,279,Research & Development,8,1,Life Sciences,1,2,...,4,80,1,10,3,3,10,7,1,7
2,37,Yes,Travel_Rarely,1373,Research & Development,2,2,Other,1,4,...,2,80,0,7,3,3,0,0,0,0
4,27,No,Travel_Rarely,591,Research & Development,2,1,Medical,1,7,...,4,80,1,6,3,3,2,2,2,2
5,32,No,Travel_Frequently,1005,Research & Development,2,2,Life Sciences,1,8,...,3,80,0,8,2,2,7,7,3,6
7,30,No,Travel_Rarely,1358,Research & Development,24,1,Life Sciences,1,11,...,2,80,1,1,2,3,1,0,0,0

Q6. Extract rows such that the new dataframe has males that are above 40

In [ ]:
var1 == 1 and var2 == 3

In [ ]:
males_research = attrition_dataset[(attrition_dataset['Gender'] == 'Male') & (attrition_dataset['Age'] > 40)]
males_research.head()

,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeNumber,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
1,49,No,Travel_Frequently,279,Research & Development,8,1,Life Sciences,1,2,...,4,80,1,10,3,3,10,7,1,7
27,42,No,Travel_Rarely,691,Sales,8,4,Marketing,1,35,...,4,80,1,10,2,3,9,7,4,2
31,44,No,Travel_Rarely,1459,Research & Development,10,4,Other,1,40,...,4,80,0,9,5,4,4,2,1,3
36,50,Yes,Travel_Rarely,869,Sales,3,2,Marketing,1,47,...,3,80,0,3,2,3,3,2,0,2
48,46,No,Travel_Frequently,1211,Sales,5,4,Marketing,1,62,...,3,80,0,14,4,3,9,6,0,8

In [ ]:
females_only = attrition_dataset[(attrition_dataset['Gender']=='Female') & (attrition_dataset['Age'] > 40)]
females_only.head()

    Age Attrition  ... YearsSinceLastPromotion  YearsWithCurrManager
0    41       Yes  ...                       0                     5
6    59        No  ...                       0                     0
18   53        No  ...                       3                     7
25   53        No  ...                       4                     8
28   44        No  ...                       5                    17

[5 rows x 35 columns]

Q7. Find the mean and the median of the Monthly Income

In [ ]:
mean_income = attrition_dataset['MonthlyIncome'].mean()
median_income = attrition_dataset['MonthlyIncome'].median()

mean_income

6502.931292517007

In [ ]:
median_income

4919.0

In [ ]:
attrition_dataset.describe()

,Age,DailyRate,DistanceFromHome,Education,EmployeeCount,EmployeeNumber,EnvironmentSatisfaction,HourlyRate,JobInvolvement,JobLevel,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
count,1470.000000,1470.000000,1470.000000,1470.000000,1470.0,1470.000000,1470.000000,1470.000000,1470.000000,1470.000000,...,1470.000000,1470.0,1470.000000,1470.000000,1470.000000,1470.000000,1470.000000,1470.000000,1470.000000,1470.000000
mean,36.923810,802.485714,9.192517,2.912925,1.0,1024.865306,2.721769,65.891156,2.729932,2.063946,...,2.712245,80.0,0.793878,11.279592,2.799320,2.761224,7.008163,4.229252,2.187755,4.123129
std,9.135373,403.509100,8.106864,1.024165,0.0,602.024335,1.093082,20.329428,0.711561,1.106940,...,1.081209,0.0,0.852077,7.780782,1.289271,0.706476,6.126525,3.623137,3.222430,3.568136
min,18.000000,102.000000,1.000000,1.000000,1.0,1.000000,1.000000,30.000000,1.000000,1.000000,...,1.000000,80.0,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000
25%,30.000000,465.000000,2.000000,2.000000,1.0,491.250000,2.000000,48.000000,2.000000,1.000000,...,2.000000,80.0,0.000000,6.000000,2.000000,2.000000,3.000000,2.000000,0.000000,2.000000
50%,36.000000,802.000000,7.000000,3.000000,1.0,1020.500000,3.000000,66.000000,3.000000,2.000000,...,3.000000,80.0,1.000000,10.000000,3.000000,3.000000,5.000000,3.000000,1.000000,3.000000
75%,43.000000,1157.000000,14.000000,4.000000,1.0,1555.750000,4.000000,83.750000,3.000000,3.000000,...,4.000000,80.0,1.000000,15.000000,3.000000,3.000000,9.000000,7.000000,3.000000,7.000000
max,60.000000,1499.000000,29.000000,5.000000,1.0,2068.000000,4.000000,100.000000,4.000000,5.000000,...,4.000000,80.0,3.000000,40.000000,6.000000,4.000000,40.000000,18.000000,15.000000,17.000000

Q8. Check how many employees belong to a particular department

In [ ]:
attrition_dataset['Department'].value_counts()

Research & Development    961
Sales                     446
Human Resources            63
Name: Department, dtype: int64

In [ ]:
attrition_dataset['Gender'].value_counts()

Male      882
Female    588
Name: Gender, dtype: int64

## Checking missing values

In [ ]:
attrition_dataset.isnull()

     Attrition  BusinessTravel  ...  YearsSinceLastPromotion  YearsWithCurrManager
Age                             ...
41       False           False  ...                    False                 False
49       False           False  ...                    False                 False
37       False           False  ...                    False                 False
33       False           False  ...                    False                 False
27       False           False  ...                    False                 False
..         ...             ...  ...                      ...                   ...
36       False           False  ...                    False                 False
39       False           False  ...                    False                 False
27       False           False  ...                    False                 False
49       False           False  ...                    False                 False
34       False           False  ...                    False                 False

[1470 rows x 34 columns]

In [ ]:
# Checks null values
attrition_dataset.isnull().sum()

Attrition                   0
BusinessTravel              0
DailyRate                   0
Department                  0
DistanceFromHome            0
Education                   0
EducationField              0
EmployeeCount               0
EmployeeNumber              0
EnvironmentSatisfaction     0
Gender                      0
HourlyRate                  0
JobInvolvement              0
JobLevel                    0
JobRole                     0
JobSatisfaction             0
MaritalStatus               0
MonthlyIncome               0
MonthlyRate                 0
NumCompaniesWorked          0
Over18                      0
OverTime                    0
PercentSalaryHike           0
PerformanceRating           0
RelationshipSatisfaction    0
StandardHours               0
StockOptionLevel            0
TotalWorkingYears           0
TrainingTimesLastYear       0
WorkLifeBalance             0
YearsAtCompany              0
YearsInCurrentRole          0
YearsSinceLastPromotion     0
YearsWithCurrManager        0
dtype: int64

## Renaming columns

Q9. Rename the column 'Attrition' to 'attrition'

In [ ]:
df_2 = attrition_dataset.rename(columns={'Attrition':'attrition', 'Gender': 'male-female'})

In [ ]:
attrition_dataset.head()

,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeNumber,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,41,Yes,Travel_Rarely,1102,Sales,1,2,Life Sciences,1,1,...,1,80,0,8,0,1,6,4,0,5
1,49,No,Travel_Frequently,279,Research & Development,8,1,Life Sciences,1,2,...,4,80,1,10,3,3,10,7,1,7
2,37,Yes,Travel_Rarely,1373,Research & Development,2,2,Other,1,4,...,2,80,0,7,3,3,0,0,0,0
3,33,No,Travel_Frequently,1392,Research & Development,3,4,Life Sciences,1,5,...,3,80,0,8,3,3,8,7,3,0
4,27,No,Travel_Rarely,591,Research & Development,2,1,Medical,1,7,...,4,80,1,6,3,3,2,2,2,2

In [ ]:
df_2.head()

,Age,attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeNumber,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,41,Yes,Travel_Rarely,1102,Sales,1,2,Life Sciences,1,1,...,1,80,0,8,0,1,6,4,0,5
1,49,No,Travel_Frequently,279,Research & Development,8,1,Life Sciences,1,2,...,4,80,1,10,3,3,10,7,1,7
2,37,Yes,Travel_Rarely,1373,Research & Development,2,2,Other,1,4,...,2,80,0,7,3,3,0,0,0,0
3,33,No,Travel_Frequently,1392,Research & Development,3,4,Life Sciences,1,5,...,3,80,0,8,3,3,8,7,3,0
4,27,No,Travel_Rarely,591,Research & Development,2,1,Medical,1,7,...,4,80,1,6,3,3,2,2,2,2

In [ ]:
attrition_dataset.rename(columns={'Attrition':'attrition'}, inplace=True)  #{Original_col: Rename_col}
attrition_dataset.head()

,Age,attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeNumber,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,41,Yes,Travel_Rarely,1102,Sales,1,2,Life Sciences,1,1,...,1,80,0,8,0,1,6,4,0,5
1,49,No,Travel_Frequently,279,Research & Development,8,1,Life Sciences,1,2,...,4,80,1,10,3,3,10,7,1,7
2,37,Yes,Travel_Rarely,1373,Research & Development,2,2,Other,1,4,...,2,80,0,7,3,3,0,0,0,0
3,33,No,Travel_Frequently,1392,Research & Development,3,4,Life Sciences,1,5,...,3,80,0,8,3,3,8,7,3,0
4,27,No,Travel_Rarely,591,Research & Development,2,1,Medical,1,7,...,4,80,1,6,3,3,2,2,2,2

**inplace** by default has False values, i.e, if you don't mention the keyword it will not permanently rename the columns requested. This helps us to retain the original dataframe and we can assign to another variable if we want a dataframe with renamed columns.

You can use inplace=True if you are sure that you will not need those columns later since it permanently renames the requested columns requested.

## Drop columns from dataframe

Q10. Drop columns **EmployeeCount** and **Over18** from the dataset

In [ ]:
abc = attrition_dataset.drop(columns=['EmployeeCount', 'Over18'], axis=1, inplace=False)

In [ ]:
abc

Q11. Drop rows 1, 48, 100 from the dataset

In [ ]:
attrition_dataset.drop(index=[1,48, 100], axis=0)

      Age attrition     BusinessTravel  DailyRate              Department  \
0      41       Yes      Travel_Rarely       1102                   Sales
2      37       Yes      Travel_Rarely       1373  Research & Development
3      33        No  Travel_Frequently       1392  Research & Development
4      27        No      Travel_Rarely        591  Research & Development
5      32        No  Travel_Frequently       1005  Research & Development
6      59        No      Travel_Rarely       1324  Research & Development
7      30        No      Travel_Rarely       1358  Research & Development
8      38        No  Travel_Frequently        216  Research & Development
9      36        No      Travel_Rarely       1299  Research & Development
10     35        No      Travel_Rarely        809  Research & Development
11     29        No      Travel_Rarely        153  Research & Development
12     31        No      Travel_Rarely        670  Research & Development
13     34        No      Travel_Rarely       1346  Research & Development
14     28       Yes      Travel_Rarely        103  Research & Development
15     29        No      Travel_Rarely       1389  Research & Development
16     32        No      Travel_Rarely        334  Research & Development
17     22        No         Non-Travel       1123  Research & Development
18     53        No      Travel_Rarely       1219                   Sales
19     38        No      Travel_Rarely        371  Research & Development
20     24        No         Non-Travel        673  Research & Development
21     36       Yes      Travel_Rarely       1218                   Sales
22     34        No      Travel_Rarely        419  Research & Development
23     21        No      Travel_Rarely        391  Research & Development
24     34       Yes      Travel_Rarely        699  Research & Development
25     53        No      Travel_Rarely       1282  Research & Development
26     32       Yes  Travel_Frequently       1125  Research & Development
27     42        No      Travel_Rarely        691                   Sales
28     44        No      Travel_Rarely        477  Research & Development
29     46        No      Travel_Rarely        705                   Sales
30     33        No      Travel_Rarely        924  Research & Development
31     44        No      Travel_Rarely       1459  Research & Development
32     30        No      Travel_Rarely        125  Research & Development
33     39       Yes      Travel_Rarely        895                   Sales
34     24       Yes      Travel_Rarely        813  Research & Development
35     43        No      Travel_Rarely       1273  Research & Development
36     50       Yes      Travel_Rarely        869                   Sales
37     35        No      Travel_Rarely        890                   Sales
38     36        No      Travel_Rarely        852  Research & Development
39     33        No  Travel_Frequently       1141                   Sales
40     35        No      Travel_Rarely        464  Research & Development
41     27        No      Travel_Rarely       1240  Research & Development
42     26       Yes      Travel_Rarely       1357  Research & Development
43     27        No  Travel_Frequently        994                   Sales
44     30        No  Travel_Frequently        721  Research & Development
45     41       Yes      Travel_Rarely       1360  Research & Development
46     34        No         Non-Travel       1065                   Sales
47     37        No      Travel_Rarely        408  Research & Development
49     35        No      Travel_Rarely       1229  Research & Development
50     48       Yes      Travel_Rarely        626  Research & Development
51     28       Yes      Travel_Rarely       1434  Research & Development
52     44        No      Travel_Rarely       1488                   Sales
53     35        No         Non-Travel       1097  Research & Development
54     26        No      Travel_Rarely       1443                   Sales
55     33        No  Travel_Frequently        515  Research & Development
56     35        No  Travel_Frequently        853                   Sales
57     35        No      Travel_Rarely       1142  Research & Development
58     31        No      Travel_Rarely        655  Research & Development
59     37        No      Travel_Rarely       1115  Research & Development
60     32        No      Travel_Rarely        427  Research & Development
61     38        No  Travel_Frequently        653  Research & Development
62     50        No      Travel_Rarely        989  Research & Development
63     59        No      Travel_Rarely       1435                   Sales
64     36        No      Travel_Rarely       1223  Research & Development
65     55        No      Travel_Rarely        836  Research & Development
66     36        No  Travel_Frequently       1195  Research & Development
67     45        No      Travel_Rarely       1339  Research & Development
68     35        No  Travel_Frequently        664  Research & Development
69     36       Yes      Travel_Rarely        318  Research & Development
70     59        No  Travel_Frequently       1225                   Sales
71     29        No      Travel_Rarely       1328  Research & Development
72     31        No      Travel_Rarely       1082  Research & Development
73     32        No      Travel_Rarely        548  Research & Development
74     36        No      Travel_Rarely        132  Research & Development
75     31        No      Travel_Rarely        746  Research & Development
76     35        No      Travel_Rarely        776                   Sales
77     45        No      Travel_Rarely        193  Research & Development
78     37        No      Travel_Rarely        397  Research & Development
79     46        No      Travel_Rarely        945         Human Resources
80     30        No      Travel_Rarely        852  Research & Development
81     35        No      Travel_Rarely       1214  Research & Development
82     55        No      Travel_Rarely        111                   Sales
83     38        No         Non-Travel        573  Research & Development
84     34        No      Travel_Rarely       1153  Research & Development
85     56        No      Travel_Rarely       1400  Research & Development
86     23        No      Travel_Rarely        541                   Sales
87     51        No      Travel_Rarely        432  Research & Development
88     30        No      Travel_Rarely        288  Research & Development
89     46       Yes      Travel_Rarely        669                   Sales
90     40        No  Travel_Frequently        530  Research & Development
91     51        No      Travel_Rarely        632                   Sales
92     30        No      Travel_Rarely       1334                   Sales
93     46        No  Travel_Frequently        638  Research & Development
94     32        No      Travel_Rarely       1093                   Sales
95     54        No      Travel_Rarely       1217  Research & Development
96     24        No      Travel_Rarely       1353                   Sales
97     28        No         Non-Travel        120                   Sales
98     58        No      Travel_Rarely        682                   Sales
99     44        No         Non-Travel        489  Research & Development
101    32        No      Travel_Rarely        827  Research & Development
102    20       Yes  Travel_Frequently        871  Research & Development
103    34        No      Travel_Rarely        665  Research & Development
104    37        No         Non-Travel       1040  Research & Development
105    59        No         Non-Travel       1420         Human Resources
106    50        No  Travel_Frequently       1115  Research & Development
107    25       Yes      Travel_Rarely        240                   Sales
108    25        No      Travel_Rarely       1280  Research & Development
109    22        No      Travel_Rarely        534  Research & Development
110    51        No  Travel_Frequently       1456  Research & Development
111    34       Yes  Travel_Frequently        658  Research & Development
112    54        No         Non-Travel        142         Human Resources
113    24        No      Travel_Rarely       1127  Research & Development
114    34        No      Travel_Rarely       1031  Research & Development
115    37        No      Travel_Rarely       1189                   Sales
116    34        No      Travel_Rarely       1354  Research & Development
117    36        No  Travel_Frequently       1467                   Sales
118    36        No      Travel_Rarely        922  Research & Development
119    43        No  Travel_Frequently        394                   Sales
120    30        No  Travel_Frequently       1312  Research & Development
121    33        No         Non-Travel        750                   Sales
122    56       Yes      Travel_Rarely        441  Research & Development
123    51        No      Travel_Rarely        684  Research & Development
124    31       Yes      Travel_Rarely        249                   Sales
125    26        No      Travel_Rarely        841  Research & Development
126    58       Yes      Travel_Rarely        147  Research & Development
127    19       Yes      Travel_Rarely        528                   Sales
128    22        No      Travel_Rarely        594  Research & Development
129    49        No      Travel_Rarely        470  Research & Development
130    43        No  Travel_Frequently        957  Research & Development
131    50        No  Travel_Frequently        809                   Sales
132    31       Yes      Travel_Rarely        542                   Sales
133    41        No      Travel_Rarely        802                   Sales
134    26        No      Travel_Rarely       1355         Human Resources
135    36        No      Travel_Rarely        216  Research & Development
136    51       Yes  Travel_Frequently       1150  Research & Development
137    39        No      Travel_Rarely       1329                   Sales
138    25        No      Travel_Rarely        959                   Sales
139    30        No      Travel_Rarely       1240         Human Resources
140    32       Yes      Travel_Rarely       1033  Research & Development
141    45        No      Travel_Rarely       1316  Research & Development
142    38        No      Travel_Rarely        364  Research & Development
143    30        No      Travel_Rarely        438  Research & Development
144    32        No  Travel_Frequently        689                   Sales
145    30        No      Travel_Rarely        201  Research & Development
146    30        No      Travel_Rarely       1427  Research & Development
147    41        No  Travel_Frequently        857  Research & Development
148    41        No      Travel_Rarely        933  Research & Development
149    19        No      Travel_Rarely       1181  Research & Development
150    40        No  Travel_Frequently       1395  Research & Development
151    35        No      Travel_Rarely        662                   Sales
152    53        No      Travel_Rarely       1436                   Sales
153    45        No      Travel_Rarely        194  Research & Development
154    32        No  Travel_Frequently        967                   Sales
155    29        No         Non-Travel       1496  Research & Development
156    51        No      Travel_Rarely       1169  Research & Development
157    58        No      Travel_Rarely       1145  Research & Development
158    40        No      Travel_Rarely        630                   Sales
159    34        No  Travel_Frequently        303                   Sales
160    22        No      Travel_Rarely       1256  Research & Development
161    27        No         Non-Travel        691  Research & Development
162    28        No      Travel_Rarely        440  Research & Development
163    57        No      Travel_Rarely        334  Research & Development
164    27        No         Non-Travel       1450  Research & Development
165    50        No      Travel_Rarely       1452  Research & Development
166    41        No      Travel_Rarely        465  Research & Development
167    30        No      Travel_Rarely       1339                   Sales
168    38        No      Travel_Rarely        702                   Sales
169    32        No      Travel_Rarely        120  Research & Development
170    27        No      Travel_Rarely       1157  Research & Development
171    19       Yes  Travel_Frequently        602                   Sales
172    36        No  Travel_Frequently       1480  Research & Development
173    30        No         Non-Travel        111  Research & Development
174    45        No      Travel_Rarely       1268                   Sales
175    56        No      Travel_Rarely        713  Research & Development
176    33        No      Travel_Rarely        134  Research & Development
177    19       Yes      Travel_Rarely        303  Research & Development
178    46        No      Travel_Rarely        526                   Sales
179    38        No      Travel_Rarely       1380  Research & Development
180    31        No      Travel_Rarely        140  Research & Development
181    34        No      Travel_Rarely        629  Research & Development
182    41       Yes      Travel_Rarely       1356                   Sales
183    50        No      Travel_Rarely        328  Research & Development
184    53        No      Travel_Rarely       1084  Research & Development
185    33        No      Travel_Rarely        931  Research & Development
186    40        No      Travel_Rarely        989  Research & Development
187    55        No      Travel_Rarely        692  Research & Development
188    34        No  Travel_Frequently       1069  Research & Development
189    51        No      Travel_Rarely        313  Research & Development
190    52        No      Travel_Rarely        699  Research & Development
191    27        No      Travel_Rarely        894  Research & Development
192    35       Yes      Travel_Rarely        556  Research & Development
193    43        No         Non-Travel       1344  Research & Development
194    45        No         Non-Travel       1195  Research & Development
195    37        No      Travel_Rarely        290  Research & Development
196    35        No  Travel_Frequently        138  Research & Development
197    42        No         Non-Travel        926  Research & Development
198    38        No      Travel_Rarely       1261  Research & Development
199    38        No      Travel_Rarely       1084  Research & Development
200    27        No  Travel_Frequently        472  Research & Development
201    49        No         Non-Travel       1002  Research & Development
202    34        No  Travel_Frequently        878  Research & Development
203    40        No      Travel_Rarely        905  Research & Development
204    38       Yes      Travel_Rarely       1180  Research & Development
205    29       Yes      Travel_Rarely        121                   Sales
206    22        No      Travel_Rarely       1136  Research & Development
207    36        No  Travel_Frequently        635  Research & Development
208    40        No         Non-Travel       1151  Research & Development
209    46        No      Travel_Rarely        644  Research & Development
210    32       Yes      Travel_Rarely       1045                   Sales
211    30        No         Non-Travel        829  Research & Development
212    27        No  Travel_Frequently       1242                   Sales
213    51        No      Travel_Rarely       1469  Research & Development
214    30       Yes      Travel_Rarely       1005  Research & Development
215    41        No      Travel_Rarely        896                   Sales
216    30       Yes  Travel_Frequently        334                   Sales
217    29       Yes      Travel_Rarely        992  Research & Development
218    45        No         Non-Travel       1052                   Sales
219    54        No      Travel_Rarely       1147                   Sales
220    36        No      Travel_Rarely       1396  Research & Development
221    33        No      Travel_Rarely        147  Research & Development
222    37        No  Travel_Frequently        663  Research & Development
223    38        No      Travel_Rarely        119                   Sales
224    31        No         Non-Travel        979  Research & Development
225    59        No      Travel_Rarely        142  Research & Development
226    37        No  Travel_Frequently        319                   Sales
227    29        No  Travel_Frequently       1413                   Sales
228    35        No  Travel_Frequently        944                   Sales
229    29       Yes      Travel_Rarely        896  Research & Development
230    52        No      Travel_Rarely       1323  Research & Development
231    42        No      Travel_Rarely        532  Research & Development
232    59        No      Travel_Rarely        818         Human Resources
233    50        No      Travel_Rarely        854                   Sales
234    33       Yes      Travel_Rarely        813  Research & Development
235    43        No      Travel_Rarely       1034                   Sales
236    33       Yes      Travel_Rarely        465  Research & Development
237    52        No         Non-Travel        771                   Sales
238    32        No      Travel_Rarely       1401                   Sales
239    32       Yes      Travel_Rarely        515  Research & Development
240    39        No      Travel_Rarely       1431  Research & Development
241    32        No         Non-Travel        976                   Sales
242    41        No      Travel_Rarely       1411  Research & Development
243    40        No      Travel_Rarely       1300  Research & Development
244    45        No      Travel_Rarely        252  Research & Development
245    31        No  Travel_Frequently       1327  Research & Development
246    33        No      Travel_Rarely        832  Research & Development
247    34        No      Travel_Rarely        470  Research & Development
248    37        No      Travel_Rarely       1017  Research & Development
249    45        No  Travel_Frequently       1199  Research & Development
250    37       Yes  Travel_Frequently        504  Research & Development
251    39        No  Travel_Frequently        505  Research & Development
252    29        No      Travel_Rarely        665  Research & Development
253    42        No      Travel_Rarely        916  Research & Development
254    29        No      Travel_Rarely       1247                   Sales
255    25        No      Travel_Rarely        685  Research & Development
256    42        No      Travel_Rarely        269  Research & Development
257    40        No      Travel_Rarely       1416  Research & Development
258    51        No      Travel_Rarely        833  Research & Development
259    31       Yes  Travel_Frequently        307  Research & Development
260    32        No  Travel_Frequently       1311  Research & Development
261    38        No         Non-Travel       1327                   Sales
262    32        No      Travel_Rarely        128  Research & Development
263    46        No      Travel_Rarely        488                   Sales
264    28       Yes      Travel_Rarely        529  Research & Development
265    29        No      Travel_Rarely       1210                   Sales
266    31        No      Travel_Rarely       1463  Research & Development
267    25        No         Non-Travel        675  Research & Development
268    45        No      Travel_Rarely       1385  Research & Development
269    36        No      Travel_Rarely       1403  Research & Development
270    55        No      Travel_Rarely        452  Research & Development
271    47       Yes         Non-Travel        666  Research & Development

**inplace** by default has False values, i.e, if you don't mention the keyword it will not permanently delete the columns/rows requested. This helps us to retain the original dataframe and we can assign to another variable if we want a dataframe without those columns/rows.

You can use inplace=True if you are sure that you will not need those columns later since it permanently deletes the requested columns or rows requested.

You can also retrieve the unique columns in the dataframe

In [ ]:
attrition_dataset['Attrition'].unique()

array(['Yes', 'No'], dtype=object)

In [ ]:
attrition_dataset.columns.unique()

Index(['Age', 'attrition', 'BusinessTravel', 'DailyRate', 'Department',
       'DistanceFromHome', 'Education', 'EducationField', 'EmployeeCount',
       'EmployeeNumber', 'EnvironmentSatisfaction', 'Gender', 'HourlyRate',
       'JobInvolvement', 'JobLevel', 'JobRole', 'JobSatisfaction',
       'MaritalStatus', 'MonthlyIncome', 'MonthlyRate', 'NumCompaniesWorked',
       'Over18', 'OverTime', 'PercentSalaryHike', 'PerformanceRating',
       'RelationshipSatisfaction', 'StandardHours', 'StockOptionLevel',
       'TotalWorkingYears', 'TrainingTimesLastYear', 'WorkLifeBalance',
       'YearsAtCompany', 'YearsInCurrentRole', 'YearsSinceLastPromotion',
       'YearsWithCurrManager'],
      dtype='object')

You can also retrieve unique values present in the columns

In [ ]:
attrition_dataset['Department'].unique()

array(['Sales', 'Research & Development', 'Human Resources'], dtype=object)

In [ ]:
attrition_dataset.to_csv('test.csv')